@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Test CI-CD</h1>
    <p>Test building Web apps with ASP.NET Core  </a>.</p>
</div>
